[submodule "Olympiad-Back"]
	path = Olympiad-Back
	url = https://github.com/RTUITLab/Olympiad-Back.git
[submodule "Olympiad-Front"]
	path = Olympiad-Front
	url = https://github.com/RTUITLab/Olympiad-Front.git
[submodule "Olympiad-Front-Teacher"]
	path = Olympiad-Front-Teacher
	url = https://github.com/RTUITLab/Olympiad-Front-Teacher.git
